{% extends "base.html" %}

{% block title %}Reembolsos{% endblock %}

{% block content %}
<div class="container">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h1>Mis Reembolsos</h1>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Código de Entrada</th>
                <th>Evento</th>
                <th>Motivo</th>
                <th>Solicitante</th>
                <th>Fecha de Solicitud</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for refound in refounds_by_user%}
                <tr>
                    <td>
                        <a href="#" class="text-primary">{{ refound.ticket_code }}</a>
                    </td>
                    <td>{{ refound.event.title }}</td>
                    <td>{{ refound.reason }}</td>
                    <td>{{ refound.user.username }}</td>
                    <td>{{ refound.created_at }}</td>
                    {% if refound.approved == Null %}
                        <td><span class="badge bg-warning text-dark">Pendiente</span></td>
                    {% elif refound.approved == True %}
                        <td><span class="badge bg-success text-dark">Aprovado</span></td>
                    {% else %}
                        <td><span class="badge bg-danger text-dark">Rechazado</span></td>
                    {% endif %}
                    <td>
                        <div class="hstack gap-1">
                        {% comment %} <a href="{% url 'refound_edit' refound.id %}"
                            class="btn btn-sm btn-outline-secondary"
                            aria-label="Editar"
                            title="Editar">
                            <i class="bi bi-pencil" aria-hidden="true"></i>
                        </a> {% endcomment %}
                        <button type="button" class="btn btn-sm btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#editRefoundModal{{ refound.id }}" aria-label="Editar" title="Editar">
                            <i class="bi bi-pencil" aria-hidden="true"></i>
                        </button>
                        <form action="{% url 'refound_delete' refound.id %}" method="POST">
                            {% csrf_token %}
                            <button class="btn btn-sm btn-outline-danger"
                                    title="Eliminar"
                                    type="submit"
                                    aria-label="Eliminar"
                                    titile="Eliminar">
                                <i class="bi bi-trash" aria-hidden="true"></i>
                            </button>
                        </form>
                        </div>
                    </td>
                </tr>
                <div class="modal fade" id="editRefoundModal{{ refound.id }}" tabindex="-1" aria-labelledby="editRefoundModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="editRefoundModalLabel">Editar Reembolso</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form method="post" action="{% url 'refound_edit' refound.id %}">
                                    {% csrf_token %}
                                    <div class="mb-3">
                                        <label for="reason{{ refound.id }}" class="form-label">Motivo del Reembolso</label>
                                        <textarea class="form-control" id="reason{{ refound.id }}" name="reason" rows="4">{{ refound.reason }}</textarea>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                        <button type="submit" class="btn btn-primary">Guardar Cambios</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            {% empty %}
                <tr>
                    <td colspan="4" class="text-center">No hay reembolsos disponibles</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
